*,
*::before,
*::after {
  box-sizing: border-box;
}

//Resset default values
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

$outline-red: red solid 2px;
$outline-blue: blue solid 2px;
$outline-green: green solid 2px;

$section-margin: 30px;
$min-width-sec-mobile: 416px;
$width-100p-24: calc(100% - 24px);
$red-text-color: #ec5242;
$silver-bg-color: #d3d3d3;
$black-text-color: #272a31;
$bg-color: #f7f7f7;
$bg-color-rgba: rgba(247, 247, 247, 0.1);
$text-color-rgba: rgba(247, 247, 247, 0.5);
$white-color: #fff;
//$silver-tranparent-looking: #868686;
$silver-tranparent-looking: #2d0e0e;
$padding-margin-left-right: 0 30px 0 30px;
$tb-gap-sections: 10px 0 10px 0;

$p-text-size: 11px;
$h3-text-mob: 24px;
$h3-text-desk: 30px;
$h3-text-14: 14px;
$h1-text-size-mob: 30px;
$h1-text-size-desk: 50px;
$h2-text-size: 27px;

@mixin lato-font ($size, $weight, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

body {
  font-family: "lato", sans-serif;
  font-style: normal;
}

header {
  width: 100%;
  height: 63px;
  padding: 12px 24px;
  padding-top: 12px;
  display: flex;
  background-color: $bg-color;

  & .nav_bar {
    display: flex;
    align-items: center;
  }

  & .burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .burger img {
    width: 31px;
    height: 27.28px;
  }

  & .logo {
    display: none;
  }

  & .logo img {
    width: 160px;
    height: 45px;
  }
}

.menu_wide {
  & .active {
    color: $red-text-color;
  }
}

.s_headline {
  & h3 {
    @include lato-font($h3-text-mob, 400, $red-text-color);
  }

  & h1 {
    @include lato-font($h1-text-size-mob, 900, $red-text-color);

    width: 336px;
    line-height: 36px;
  }

  & p {
    @include lato-font($p-text-size, 500, $silver-tranparent-looking);
  }

  & .description {
    padding: 10px;
    margin: 15px 0 15px 0;
    border: $white-color solid 3px;
    background-color: $white-color;
    margin-bottom: 30px;
  }

  & h2 {
    @include lato-font($h3-text-mob, 900, $black-text-color);
  }

  & .address {
    margin-left: 10px;
    margin-bottom: 50px;
    color: $black-text-color;
  }

  & .address p {
    font-size: calc($p-text-size + 2px);
    color: $black-text-color;
  }

  & .email {
    font-weight: 900;
  }

  span {
    font-size: 12px;
    font-weight: 600;
  }

  & .description p {
    line-height: 20px;
  }

  & .line {
    width: 35px;
    color: $red-text-color;
    margin: 15px;
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: $bg-color;

  & .wrap {
    width: 100%;
    height: 430px;
    display: flex;
    justify-content: center;
    padding-left: 0;
    background-image: linear-gradient(to bottom, rgb(250, 246, 246), rgba(247, 247, 247, 0.7)), url(../images/dc-31-future.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 24px 0 24px;
  }

  & .wrapper1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 50px;
  }

  & .s_headline,
  .s_logo {
    width: 100%;
    margin: 0;
  }

  & .s_headline {
    width: 100%;

    @include lato-font($p-text-size, 400px, $silver-tranparent-looking);

    margin-top: 58px;
  }
}

.s_logo,
.s_past {
  & h2 {
    color: $black-text-color;
  }

  .wrapper_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 12px 0;
    text-align: center;
    background-color: $white-color;
  }
}

.wrapper_logo {
  h2 {
    @include lato-font(20px, 700, $black-text-color);

    color: #2c2c2c;
    text-align: center;
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.4px;
  }

  p {
    @include lato-font(16px, 700, $silver-tranparent-looking);

    text-align: center;
    font-style: normal;
    line-height: 21px;
    letter-spacing: -0.48px;
  }


}

.s_logo {
  &>h2 {
    color: $black-text-color;

    @include lato-font($h3-text-desk, 700, $black-text-color);
  }

  img {
    margin: 50px 0 0 0;
    padding: 0 12px;
    width: 100%;
  }
}

.s_past {
  & .wrapper_logo {
    width: 100%;
    display: inline-flex;
    justify-content: center;
  }

  p {
    margin-bottom: 12px;
  }

  img {
    width: calc(100% - 24px);
    margin: 12px 12px 0;
  }
}

.s_partners {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: $black-text-color;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;

  h2 {
    @include lato-font(30px, 400, $silver-bg-color);

    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.3px;
    padding: 30px 0 10px 0;
    text-align: center;
  }

  img {
    height: 30px;
    text-align: center;
  }

  .p_logos {
    text-align: center;
  }
}

.footer {
  display: flex;
  justify-content: center;
  background-color: $white-color;

  .wrapper {
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .white {
    display: none;
  }

  .black {
    display: inline;
  }

  img {
    height: 25px;
    margin-right: 7%;
  }

  .decription {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  p {
    @include lato-font(10px, 700, $black-text-color);
  }
}

//Modal
.modal_menu {
  width: 100%;
  background-color: $silver-bg-color;
  border: 0;

  ul {
    list-style-type: none;
    padding-bottom: 24px;
  }

  li {
    padding: 12px;
    text-align: center;
    border-bottom: $silver-tranparent-looking solid 1px;
  }

  a:hover {
    border: $white-color solid 1px;
  }

  a {
    @include lato-font(25px, 600, $silver-tranparent-looking);

    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }

  & .close {
    @include lato-font(24px, 400, $silver-tranparent-looking);

    padding: 12px 24px;
  }

  & .campaign {
    color: $red-text-color;
    border: $red-text-color solid 4px;
    padding: 5px 12px;
  }
}

.menu_wide {
  display: none;
}

.nav_social {
  display: none;
}

.s_partners {
  display: block;
}

.korean {
  display: none;
}

.white {
  display: none;
}

.black {
  display: inline;
}

.des_mob {
  display: block;
}

.des_desk {
  display: none;
}

.wrapper_logo {
  display: flex;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: $white-color;
    padding: $padding-margin-left-right;
    border: 0;
    display: flex;
    flex-direction: column;
  }

  .nav_social {
    display: flex;
    justify-content: right;
    background-color: $black-text-color;
    padding: 12px 0;
    margin: 0 -30px;

    & .menu_social {
      display: flex;
      justify-content: right;
      align-items: center;
    }

    ul {
      display: flex;
      list-style-type: none;
      margin-right: 11%;
    }

    li {
      margin-left: 20px;
    }

    img {
      height: 18px;
      margin-top: 5px;
    }

    a {
      @include lato-font(12px, 400, $white-color);

      font-style: normal;
      line-height: normal;
      text-decoration: none;
    }
  }

  .nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -30px;
    padding: 5px 0;
    background-color: $white-color;

    & .burger {
      display: none;
    }

    & .logo {
      width: 25vw;
      display: flex;
      justify-content: left;
    }

    & .menu_wide {
      display: block;
    }

    nav {
      display: flex;
      justify-content: center;
    }

    ul {
      width: 50vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding: 0;
    }

    li {
      padding: 12px;
    }

    a {
      @include lato-font(10px, 800, $silver-tranparent-looking);

      font-style: normal;
      line-height: normal;
      text-decoration: none;
    }

    & .close {
      @include lato-font(30px, 400, $silver-tranparent-looking);

      padding: 12px 12px;
    }

    & .campaign {
      display: flex;
      justify-content: center;
      min-width: 150px;
      color: $red-text-color;
      border: $red-text-color solid 4px;
      padding: 5px 12px;
    }
  }

  .s_headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .wrap {
      height: 500px;
      margin: 60px 0 0 0;
    }

    & .wrapper1 {
      width: 70%;
      margin: 40px 0 50px 0;
    }

    & h3 {
      @include lato-font($h3-text-desk, 400, $red-text-color);

      padding: 0 12px;
    }

    & h1 {
      width: 100%;

      @include lato-font($h1-text-size-desk, 900, $red-text-color);

      padding: 0 12px;
      line-height: 50px;
    }

    & .des_mob {
      display: none;
    }

    & .des_desk {
      display: block;
      padding: 30px;
    }
  }

  .s_logo {
    & .wrapper_logo {
      display: none;
    }
  }

  .s_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .s_past {
    img {
      width: 432px;
      height: 236px;
      margin: 24px 0 24px 12px;

    }
  }

  .s_partners {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: center;
    background-color: $black-text-color;

    .wrapper {
      width: 90%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .white {
      display: inline;
    }

    .black {
      display: none;
    }

    .korean {
      display: block;
    }

    img {
      height: 50px;
      margin-right: 7%;
      margin-left: 60px;
    }

    .decription {
      padding: 12px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      @include lato-font(14px, 700, $white-color);

      font-style: normal;
      line-height: 28px;
      letter-spacing: -0.14px;
      padding-bottom: 15px;
    }
  }
}