*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  font-family: "lato", sans-serif;
  font-style: normal;
  background-image: url("static/images/dcsite-bg-ret.jpg");
}

header {
  width: 100%;
  height: 63px;
  padding: 12px 24px;
  padding-top: 12px;
  display: flex;
  background-color: #f7f7f7;
}
header .nav_bar {
  display: flex;
  align-items: center;
}
header .burger {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .burger img {
  width: 31px;
  height: 27.28px;
}
header .logo {
  display: none;
}
header .logo img {
  width: 130px;
  height: 51px;
}

.menu_wide .active {
  color: #ec5242;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
}
.container .wrap {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  padding-left: 0;
  background-image: url("../images/dcsite-bg-ret.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgb(250, 246, 246), rgba(247, 247, 247, 0.7)), url(../images/dcsite-bg-ret.jpg);
  padding: 0 24px 0 24px;
}
.container .wrapper1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.container .s_headline,
.container .s_logo {
  width: 100%;
  margin: 0;
}
.container .s_headline {
  width: 100%;
  font-weight: 400px;
  font-size: 11px;
  color: #868686;
  margin-top: 58px;
}

.s_headline h3 {
  font-weight: 400;
  font-size: 24px;
  color: #ec5242;
}
.s_headline h1 {
  font-weight: 900;
  font-size: 30px;
  color: #ec5242;
  width: 336px;
  line-height: 36px;
}
.s_headline p {
  font-weight: 500;
  font-size: 11px;
  color: #868686;
}
.s_headline .description {
  padding: 10px;
  margin: 15px 0 15px 0;
  border: #fff solid 3px;
  background-color: #fff;
  margin-bottom: 30px;
}
.s_headline h2 {
  font-weight: 900;
  font-size: 24px;
  color: #272a31;
}
.s_headline .address {
  margin-left: 10px;
  margin-bottom: 50px;
  color: #272a31;
}
.s_headline .address p {
  font-size: 13px;
  color: #272a31;
}
.s_headline .email {
  font-weight: 900;
}
.s_headline span {
  font-size: 12px;
  font-weight: 600;
}
.s_headline .description p {
  line-height: 20px;
}
.s_headline .line {
  width: 35px;
  color: #ec5242;
  margin: 15px;
}

.s_logo h2,
.s_past h2 {
  color: #272a31;
}
.s_logo .wrapper_logo,
.s_past .wrapper_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 12px 0;
  text-align: center;
  background-color: #fff;
}

.wrapper_logo h2 {
  font-weight: 700;
  font-size: 20px;
  color: #272a31;
  color: #2C2C2C;
  text-align: center;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.4px;
}
.wrapper_logo p {
  font-weight: 700;
  font-size: 16px;
  color: #868686;
  text-align: center;
  font-style: normal;
  line-height: 21px;
  letter-spacing: -0.48px;
}
.wrapper_logo img {
  margin: 50px 0 0 0;
}

.s_logo > h2 {
  color: #272a31;
  font-weight: 700;
  font-size: 30px;
  color: #272a31;
}

.s_past .wrapper_logo {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
.s_past p {
  margin-bottom: 12px;
}
.s_past img {
  margin: 12px 24px 0;
}

.s_partners {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  background-color: #272a31;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}
.s_partners h2 {
  font-weight: 400;
  font-size: 30px;
  color: #d3d3d3;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.3px;
  padding: 30px 0 10px 0;
  text-align: center;
}
.s_partners img {
  height: 30px;
  text-align: center;
}
.s_partners .p_logos {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.footer .wrapper {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .white {
  display: none;
}
.footer .black {
  display: inline;
}
.footer img {
  height: 25px;
  margin-right: 7%;
}
.footer .decription {
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer p {
  font-weight: 700;
  font-size: 10px;
  color: #272a31;
}

.modal_menu {
  width: 100%;
  background-color: #d3d3d3;
  border: 0;
}
.modal_menu ul {
  list-style-type: none;
  padding-bottom: 24px;
}
.modal_menu li {
  padding: 12px;
  text-align: center;
  border-bottom: #868686 solid 1px;
}
.modal_menu a:hover {
  border: #fff solid 1px;
}
.modal_menu a {
  font-weight: 600;
  font-size: 25px;
  color: #868686;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}
.modal_menu .close {
  font-weight: 400;
  font-size: 24px;
  color: #868686;
  padding: 12px 24px;
}
.modal_menu .campaign {
  color: #ec5242;
  border: #ec5242 solid 4px;
  padding: 5px 12px;
}

.menu_wide {
  display: none;
}

.nav_social {
  display: none;
}

.s_partners {
  display: block;
}

.korean {
  display: none;
}

.white {
  display: none;
}

.black {
  display: inline;
}

.des_mob {
  display: block;
}

.des_desk {
  display: none;
}

.wrapper_logo {
  display: flex;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: #fff;
    padding: 0 30px 0 30px;
    border: 0;
    display: flex;
    flex-direction: column;
  }
  .nav_social {
    display: flex;
    justify-content: right;
    background-color: #272a31;
    padding: 12px 0;
    margin: 0 -30px;
  }
  .nav_social .menu_social {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .nav_social ul {
    display: flex;
    list-style-type: none;
    margin-right: 11%;
  }
  .nav_social li {
    margin-left: 20px;
  }
  .nav_social img {
    height: 18px;
    margin-top: 5px;
  }
  .nav_social a {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }
  .nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -30px;
    padding: 5px 0;
    background-color: #fff;
  }
  .nav_bar .burger {
    display: none;
  }
  .nav_bar .logo {
    width: 25vw;
    display: flex;
    justify-content: left;
  }
  .nav_bar .menu_wide {
    display: block;
  }
  .nav_bar nav {
    display: flex;
    justify-content: center;
  }
  .nav_bar ul {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }
  .nav_bar li {
    padding: 12px;
  }
  .nav_bar a {
    font-weight: 800;
    font-size: 10px;
    color: #868686;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }
  .nav_bar .close {
    font-weight: 400;
    font-size: 30px;
    color: #868686;
    padding: 12px 12px;
  }
  .nav_bar .campaign {
    display: flex;
    justify-content: center;
    min-width: 150px;
    color: #ec5242;
    border: #ec5242 solid 4px;
    padding: 5px 12px;
  }
  .s_headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .s_headline .wrap {
    height: 500px;
    margin: 60px 0 0 0;
  }
  .s_headline .wrapper1 {
    width: 70%;
    margin: 40px 0 50px 0;
  }
  .s_headline h3 {
    font-weight: 400;
    font-size: 30px;
    color: #ec5242;
    padding: 0 12px;
  }
  .s_headline h1 {
    width: 100%;
    font-weight: 900;
    font-size: 50px;
    color: #ec5242;
    padding: 0 12px;
    line-height: 50px;
  }
  .s_headline .des_mob {
    display: none;
  }
  .s_headline .des_desk {
    display: block;
    padding: 30px;
  }
  .s_logo .wrapper_logo {
    display: none;
  }
  .s_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .s_past img {
    margin: 24px 0 24px 12px;
  }
  .s_partners {
    display: none;
  }
  .footer {
    display: flex;
    justify-content: center;
    background-color: #272a31;
  }
  .footer .wrapper {
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer .white {
    display: inline;
  }
  .footer .black {
    display: none;
  }
  .footer .korean {
    display: block;
  }
  .footer img {
    height: 50px;
    margin-right: 7%;
    margin-left: 60px;
  }
  .footer .decription {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .footer p {
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.14px;
    padding-bottom: 15px;
  }
}/*# sourceMappingURL=about.css.map */