*,
*::before,
*::after {
  box-sizing: border-box;
}

//Resset default values
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

$outline-red: red solid 2px;
$outline-blue: blue solid 2px;
$outline-green: green solid 2px;

$section-margin: 30px;
$min-width-sec-mobile: 416px;

$red-text-color: #ec5242;
$silver-bg-color: #d3d3d3;
$black-text-color: #272a31;
$bg-color: #f7f7f7;

$padding-margin-left-right: 0 30px 0 30px;
$tb-gap-sections: 10px 0 10px 0;

$p-text-size: 14px;
$h3-text-size: 24px;
$h1-text-size: 30px;
$h2-text-size: 27px;

@mixin lato-font ($size, $weight, $color) {

  font-weight: $weight;
  font-size: $size;
  color: $color;
}

body {
  font-family: "lato", sans-serif;
  font-style: normal;
  background-image: url("dcsite-bg-ret.jpg");
}

header {
  width: 100%;
  height: 100px;
  //outline: $outline-green;
  //background-color: green;
  padding: $padding-margin-left-right;
  padding-top: 24px;
  background-color: $bg-color;
}

.container {
  width: 100%;
  margin-left: 1px;
  display: grid;
  grid-template-rows: auto auto auto;
  padding: $padding-margin-left-right;
  background-color: $bg-color;
  outline: $outline-red;

  & .s_headline,
  .s_main_programs,
  .s_featured_speakers {
    width: 100%;
    //min-width: $min-width-sec-mobile;
    min-height: 450px;
    margin: $tb-gap-sections;
    //background-color: blue;
    outline: $outline-blue;

  }

  & .headline {
    @include lato-font($p-text-size, 400px, $black-text-color);
  }

}

.s_headline {
  & h3 {
    @include lato-font($h3-text-size, 400, $red-text-color);
  }

  & h1 {
    @include lato-font($h1-text-size, 900, $red-text-color);
  }

  & p {
    @include lato-font($p-text-size, 500, $black-text-color);
  }

  & .description {
    padding: 15px;
    margin: 15px 0 15px 0;
    border: #fff solid 3px;
  }

  & h2 {
    @include lato-font($h3-text-size, 900, $black-text-color);
  }

  & .time_loc {
    margin-left: 10px;
  }

  & .time_loc p {
    font-size: calc($p-text-size + 2px);
  }
}