*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

body {
  font-family: "lato", sans-serif;
  font-style: normal;
  background-image: url("dcsite-bg-ret.jpg");
}

header {
  width: 100%;
  height: 100px;
  padding: 0 30px 0 30px;
  padding-top: 24px;
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  margin-left: 1px;
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: #f7f7f7;
}
.container .s_headline,
.container .s_main_programs,
.container .s_featured_speakers {
  width: 100%;
  min-height: 390px;
  margin: 10px 0 10px 0;
}
.container .s_headline {
  width: calc(100% - 24px);
  font-weight: 400px;
  font-size: 10px;
  color: #272a31;
  margin: 0 12px 0 12px;
}

.s_headline h3 {
  font-weight: 400;
  font-size: 24px;
  color: #ec5242;
}
.s_headline h1 {
  font-weight: 900;
  font-size: 30px;
  color: #ec5242;
}
.s_headline p {
  font-weight: 500;
  font-size: 10px;
  color: #272a31;
}
.s_headline .description {
  padding: 15px;
  margin: 15px 0 15px 0;
  border: #fff solid 3px;
}
.s_headline h2 {
  font-weight: 900;
  font-size: 24px;
  color: #272a31;
}
.s_headline .time_loc {
  margin-left: 10px;
}
.s_headline .time_loc p {
  font-size: 12px;
}

.sec > h2 {
  margin: 12px 0 12px 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.8px;
}
.sec .line {
  width: 35px;
  height: 1px;
  background-color: #ec5242;
  border: #ec5242 solid 1px;
}

.s_main_programs {
  background-color: #272a31;
}
.s_main_programs .programs {
  margin-top: 28px;
}
.s_main_programs .card {
  margin: 10px 12px;
  display: grid;
  grid-template-columns: 70px 80px 2fr;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.1);
}
.s_main_programs div.card p {
  font-weight: 500;
  font-size: 10px;
  color: #fff;
  line-height: 17px;
}
.s_main_programs .card h3 {
  font-weight: 700;
  font-size: 14px;
  color: #ec5242;
}
.s_main_programs .card p, .s_main_programs .card h3, .s_main_programs .card .icon {
  margin: 15px 5px 15px 15px;
}
.s_main_programs .btn_join {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}
.s_main_programs .btn_join a {
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  padding: 20px 50px;
  background-color: #ec5242;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.16px;
  text-decoration: none;
}

.s_featured_speakers > h2 {
  color: #272a31;
}
.s_featured_speakers .feature_card {
  display: flex;
  margin: 10px 12px;
  outline: #ec5242;
}
.s_featured_speakers .feature_card .icon {
  margin-right: 12px;
}
.s_featured_speakers .feature_card h3 {
  font-weight: 700;
  font-size: 14px;
  color: #272a31;
}
.s_featured_speakers .feature_card .occupation {
  font-weight: 500;
  font-size: 10px;
  color: #ec5242;
  font-style: italic;
  line-height: 17px;
}
.s_featured_speakers .feature_card hr {
  width: 35px;
  height: 1px;
  background-color: #272a31;
  color: #272a31;
}
.s_featured_speakers .feature_card .description {
  font-weight: 500;
  font-size: 10px;
  color: #272a31;
  line-height: 17px;
}
.s_featured_speakers .btn_more {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}
.s_featured_speakers .btn_more a {
  font-weight: 400;
  font-size: 10px;
  color: #272a31;
  width: calc(100% - 24px);
  padding: 12px;
  border: #272a31 solid 1px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.16px;
  text-decoration: none;
  text-align: center;
}

.btn_more a img {
  margin: 0 8px;
}/*# sourceMappingURL=main.css.map */