*,
*::before,
*::after {
  box-sizing: border-box;
}

//Resset default values
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

$outline-red: red solid 2px;
$outline-blue: blue solid 2px;
$outline-green: green solid 2px;

$section-margin: 30px;
$min-width-sec-mobile: 416px;
$width-100p-24: calc(100% - 24px);
$red-text-color: #ec5242;
$silver-bg-color: #d3d3d3;
$black-text-color: #272a31;
$bg-color: #f7f7f7;
$bg-color-rgba: rgba(247, 247, 247, 0.1);
$text-color-rgba: rgba(247, 247, 247, 0.5);
$white-color: #fff;
$silver-tranparent-looking: #2d0e0e;
$padding-margin-left-right: 0 30px 0 30px;
$tb-gap-sections: 10px 0 10px 0;

$p-text-size: 11px;
$h3-text-mob: 24px;
$h3-text-desk: 30px;
$h3-text-14: 14px;
$h1-text-size-mob: 32px;
$h1-text-size-desk: 50px;
$h2-text-size: 27px;

@mixin lato-font ($size, $weight, $color) {
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

body {
  font-family: "lato", sans-serif;
  font-style: normal;
}

header {
  width: 100%;
  height: 63px;
  padding: 12px 24px;
  padding-top: 12px;
  display: flex;
  background-color: $bg-color;

  & .nav_bar {
    display: flex;
    align-items: center;
  }

  & .burger {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .burger img {
    width: 31px;
    height: 27.28px;
  }

  & .logo {
    display: none;
  }

  & .logo img {
    width: 160px;
    height: 45px;
  }
}

.menu_wide {
  & .active {
    color: $red-text-color;
  }
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: $bg-color;

  & .wrap {
    width: 100%;
    height: 450px;
    display: flex;
    padding-left: 0;
    background-image: linear-gradient(to bottom, rgb(250, 246, 246), rgba(247, 247, 247, 0.5)), url(../images/dcsite-bg-ret.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 12px 0 12px;
  }

  & .wrapper1 {
    margin-top: 50px;
  }

  & .s_headline,
  .s_main_programs,
  .s_featured_speakers {
    width: 100%;
    min-height: 390px;
    margin: 0;
  }

  & .s_headline {
    width: 100%;

    @include lato-font($p-text-size, 400px, $silver-tranparent-looking);

    margin-top: 58px;
  }
}

.s_headline {
  & h3 {
    @include lato-font($h3-text-mob, 400, $red-text-color);
  }

  & h1 {
    @include lato-font($h1-text-size-mob, 900, $red-text-color);
    width: 336px;
    line-height: 36px;
  }

  & p {
    @include lato-font($p-text-size, 500, $silver-tranparent-looking);
  }

  & .description {
    max-width: 500px;
    padding: 15px;
    margin: 15px 0 15px 0;
    border: $white-color solid 3px;
  }

  & h2 {
    @include lato-font($h3-text-mob, 900, $black-text-color);
  }

  & .time_loc {
    margin-left: 10px;
  }

  & .time_loc p {
    font-size: calc($p-text-size + 2px);
  }
}

.sec {
  & > h2 {
    margin: 12px 0 12px 0;
    text-align: center;

    @include lato-font(20px, 400, $white-color);

    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.8px;
  }

  & .line {
    width: 35px;
    height: 1px;
    background-color: $red-text-color;
    border: $red-text-color solid 1px;
  }
}

.s_main_programs {
  background-color: $black-text-color;
  & .programs {
    margin-top: 40px - 12px;
  }

  & .card {
    margin: 10px 12px;
    display: grid;
    grid-template-columns: 70px 80px 2fr;
    align-items: center;
    background-color: $bg-color-rgba;
  }

  & div.card p {
    @include lato-font($p-text-size, 500, $white-color);

    line-height: 17px;
  }

  & .card h3 {
    @include lato-font($h3-text-14, 700, $red-text-color);
  }

  & .card p,
  & .card h3,
  & .card .icon {
    margin: 15px 5px 15px 15px;
  }

  & .icon img {
    width: 110px;
    height: 80px;

  }


  & .btn_join {
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: center;
  }

  & .btn_join a {
    @include lato-font(16px, 900, $white-color);

    padding: 20px 50px;
    background-color: $red-text-color;
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.16px;
    text-decoration: none;
  }
}

.s_featured_speakers {
  & > h2 {
    color: $black-text-color;

    @include lato-font($h3-text-desk, 700, $black-text-color);
  }

  & .feature_card {
    display: flex;
    margin: 10px 12px 24px 12px;
  }

  & .feature_card .icon {
    margin-right: 12px;
  }

  & .feature_card img {
    width: 108px;
  }

  & .feature_card h3 {
    @include lato-font($h3-text-14, 700, $black-text-color);
  }

  & .feature_card .occupation {
    @include lato-font($p-text-size, 500, $red-text-color);

    font-style: italic;
    line-height: 17px;
  }

  & .feature_card hr {
    width: 35px;
    height: 1px;
    background-color: $black-text-color;
    color: $black-text-color;
  }

  & .feature_card .description {
    @include lato-font($p-text-size, 500, $black-text-color);

    line-height: 17px;
  }

  & .btn_more {
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: center;
  }

  & .btn_more a {
    @include lato-font(10px, 400, $black-text-color);

    width: $width-100p-24;
    padding: 12px;
    border: $black-text-color solid 1px;
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.16px;
    text-decoration: none;
    text-align: center;
  }
}

.btn_more a img {
  margin: 0 8px;
}

.btn_see_whole {
  display: none;
}

//Modal
.modal_menu {
  width: 100%;
  background-color: $silver-bg-color;
  border: 0;

  ul {
    list-style-type: none;
    padding-bottom: 24px;
  }

  li {
    padding: 12px;
    text-align: center;
    border-bottom: $silver-tranparent-looking solid 1px;
  }

  a:hover {
    border: $white-color solid 1px;
  }

  a {
    @include lato-font(25px, 600, $silver-tranparent-looking);

    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }

  & .close {
    @include lato-font(24px, 400, $silver-tranparent-looking);

    padding: 12px 24px;
  }

  & .campaign {
    color: $red-text-color;
    border: $red-text-color solid 4px;
    padding: 5px 12px;
  }
}

.menu_wide {
  display: none;
}

.nav_social {
  display: none;
}

.s_partners {
  display: none;
}

.footer {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: $white-color;
    padding: $padding-margin-left-right;
    border: 0;
    display: flex;
    flex-direction: column;
  }

  .nav_social {
    display: flex;
    justify-content: right;
    background-color: $black-text-color;
    padding: 12px 0;
    margin: 0 -30px;

    & .menu_social {
      display: flex;
      justify-content: right;
      align-items: center;
    }

    ul {
      display: flex;
      list-style-type: none;
      margin-right: 11%;
    }

    li {
      margin-left: 20px;
    }

    img {
      height: 18px;
      margin-top: 5px;
    }

    a {
      @include lato-font(12px, 400, $white-color);

      font-style: normal;
      line-height: normal;
      text-decoration: none;
    }
  }

  .nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -30px;
    padding: 5px 0;
    background-color: $white-color;

    & .burger {
      display: none;
    }

    & .logo {
      width: 25vw;
      display: flex;
      justify-content: left;
    }

    & .menu_wide {
      display: block;
    }

    nav {
      display: flex;
      justify-content: center;
    }

    ul {
      width: 50vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;
      padding: 0;
    }

    li {
      padding: 12px;
    }

    a {
      @include lato-font(10px, 800, $silver-tranparent-looking);

      font-style: normal;
      line-height: normal;
      text-decoration: none;
    }

    & .close {
      @include lato-font(30px, 400, $silver-tranparent-looking);

      padding: 12px 12px;
    }

    & .campaign {
      display: flex;
      justify-content: center;
      min-width: 150px;
      color: $red-text-color;
      border: $red-text-color solid 4px;
      padding: 5px 12px;
    }
  }

  .s_headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .wrap {
      height: 500px;
      margin: 60px 0 0 0;
    }

    & .wrapper1 {
      margin: 40px 0 50px 15%;
    }

    & h3 {
      @include lato-font($h3-text-desk, 400, $red-text-color);
    }

    & h1 {
      width: 100%;
      @include lato-font($h1-text-size-desk, 900, $red-text-color);
      background-image: linear-gradient(to bottom, $red-text-color, rgba(240, 10, 10, 0.2)), url(../images/fire3.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      line-height: 50px;
    }
  }

  .s_main_programs {
    & .programs {
      display: flex;
      justify-content: center;
    }

    & .card {
      width: 220px;
      text-align: center;
      margin: 10px 2px;
      padding: 12px;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $bg-color-rgba;
    }

    & .btn_join {
      display: none;
    }

    & .btn_see_whole {
      margin: 40px 0 50px;
      display: flex;
      justify-content: center;
      color: $white-color;
    }

    & .btn_see_whole a {
      color: $white-color;
    }
  }

  .s_featured_speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .feature_card {
      max-width: 47%;
      display: inline-flex;
      justify-content: center;
      margin: 10px 12px 24px 12px;
    }

    & .wrapper {
      width: 80%;
      padding: 24px;
    }

    & .btn_more {
      display: none;
    }
  }

  .s_partners {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $black-text-color;
    padding-bottom: 30px;

    h2 {
      @include lato-font(30px, 400, $silver-bg-color);

      font-style: normal;
      line-height: 28px;
      letter-spacing: -0.3px;
      padding: 30px 0 10px 0;
      text-align: center;
    }

    img {
      width: 150px;
      margin-right: 24px;
    }

    hr {
      width: 35px;
      color: $red-text-color;
    }
  }

  .footer {
    display: flex;
    justify-content: center;

    .wrapper {
      width: 80%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      height: 30px;
      margin-right: 7%;
    }

    .decription {
      padding: 12px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      @include lato-font(14px, 700, $black-text-color);

      font-style: normal;
      line-height: 28px;
      letter-spacing: -0.14px;
      padding-bottom: 15px;
    }
  }
}
