*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  font-family: "lato", sans-serif;
  font-style: normal;
}

header {
  width: 100%;
  height: 63px;
  padding: 12px 24px;
  padding-top: 12px;
  display: flex;
  background-color: #f7f7f7;
}

header .nav_bar {
  display: flex;
  align-items: center;
}

header .burger {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .burger img {
  width: 31px;
  height: 27.28px;
}

header .logo {
  display: none;
}

header .logo img {
  width: 160px;
  height: 45px;
}

.menu_wide .active {
  color: #ec5242;
}

.s_main_programs {
  background-color: #272a31;
}

.container {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto auto;
  background-color: #f7f7f7;
}

.container .wrap {
  width: 100%;
  height: 450px;
  display: flex;
  background-image: linear-gradient(to bottom, rgb(250, 246, 246), rgba(247, 247, 247, 0.5)), url(../images/dcsite-bg-ret.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 12px 0 12px;
}

.container .wrapper1 {
  margin-top: 20px;
}

.container .s_headline,
.container .s_main_programs,
.container .s_featured_speakers {
  width: 100%;
  min-height: 390px;
  margin: 0;
}

.footer p {
  font-weight: 700;
  font-size: 14px;
  color: #272a31;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.14px;
  padding-bottom: 15px;
}

.container .s_headline {
  width: 100%;
  font-weight: 400;
  font-size: 11px;
  color: #2d0e0e;
  margin-top: 58px;
}

.s_headline h3 {
  font-weight: 400;
  font-size: 24px;
  color: #ec5242;
}

.s_headline h1 {
  font-weight: 900;
  font-size: 32px;
  color: #ec5242;
  width: 336px;
  line-height: 36px;
}

.s_headline p {
  font-weight: 500;
  font-size: 11px;
  color: #2d0e0e;
}

.s_headline .description {
  max-width: 100%;
  padding: 15px;
  margin: 30px 0 15px 0;
  border: #fff solid 3px;
}

.s_headline h2 {
  font-weight: 900;
  font-size: 24px;
  color: #272a31;
}

.s_headline .time_loc {
  margin-top: 30px;
  margin-left: 10px;
}

.s_headline .time_loc p {
  font-size: 13px;
}

.sec > h2 {
  margin: 12px 0 12px 0;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.8px;
}

.sec .line {
  width: 35px;
  height: 1px;
  background-color: #ec5242;
  border: #ec5242 solid 1px;
}

.btn_more a img,
.btn_less a img {
  margin: 0 8px;
}

.modal_menu a {
  font-weight: 600;
  font-size: 25px;
  color: #2d0e0e;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.s_main_programs .programs {
  margin-top: 28px;
}

.s_main_programs .card {
  margin: 10px 12px;
  display: grid;
  grid-template-columns: 120px 90px 1fr;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.1);
}

.s_main_programs .card p,
.s_main_programs .card h3,
.s_main_programs .card .icon {
  margin: 15px 5px 15px 15px;
}

.s_main_programs div.card p {
  font-weight: 500;
  font-size: 11px;
  color: #fff;
  line-height: 17px;
}

.s_main_programs .card h3 {
  font-weight: 700;
  font-size: 14px;
  color: #ec5242;
}

.s_main_programs .icon img {
  max-width: 110px;
  max-height: 80px;
}

.s_main_programs .btn_join {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}

.s_main_programs .btn_join a {
  font-weight: 900;
  font-size: 16px;
  color: #fff;
  padding: 20px 50px;
  background-color: #ec5242;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.16px;
  text-decoration: none;
}

.s_featured_speakers > h2 {
  color: #272a31;
  font-weight: 700;
  font-size: 30px;
}

.s_featured_speakers .feature_card {
  display: flex;
  margin: 10px 12px 24px 12px;
}

.s_featured_speakers .feature_card .icon {
  margin-right: 12px;
}

.s_featured_speakers .feature_card img {
  width: 108px;
}

.s_featured_speakers .feature_card h3 {
  font-weight: 700;
  font-size: 14px;
  color: #272a31;
}

.s_featured_speakers .feature_card .occupation {
  font-weight: 500;
  font-size: 11px;
  color: #ec5242;
  font-style: italic;
  line-height: 17px;
}

.s_featured_speakers .feature_card hr {
  width: 35px;
  height: 1px;
  background-color: #272a31;
  color: #272a31;
}

.s_featured_speakers .feature_card .description {
  font-weight: 500;
  font-size: 11px;
  color: #272a31;
  line-height: 17px;
}

.s_featured_speakers .btn_more,
.s_featured_speakers .btn_less {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: center;
}

.s_featured_speakers .btn_more a,
.s_featured_speakers .btn_less a {
  font-weight: 400;
  font-size: 10px;
  color: #272a31;
  width: calc(100% - 24px);
  padding: 12px;
  border: #272a31 solid 1px;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.16px;
  text-decoration: none;
  text-align: center;
}

.btn_see_whole {
  display: none;
}

.modal_menu {
  width: 100%;
  background-color: #d3d3d3;
  border: 0;
}

.modal_menu ul {
  list-style-type: none;
  padding-bottom: 24px;
}

.modal_menu li {
  padding: 12px;
  text-align: center;
  border-bottom: #2d0e0e solid 1px;
}

.modal_menu a:hover {
  border: #fff solid 1px;
}

.modal_menu .close {
  font-weight: 400;
  font-size: 24px;
  color: #2d0e0e;
  padding: 12px 24px;
}

.modal_menu .campaign {
  color: #ec5242;
  border: #ec5242 solid 4px;
  padding: 5px 12px;
}

.menu_wide {
  display: none;
}

.nav_social {
  display: none;
}

.s_partners {
  display: none;
}

.footer {
  display: none;
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    background-color: #fff;
    padding: 0 30px 0 30px;
    border: 0;
    display: flex;
    flex-direction: column;
  }

  .nav_social {
    display: flex;
    justify-content: right;
    background-color: #272a31;
    padding: 12px 0;
    margin: 0 -30px;
  }

  .nav_social .menu_social {
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .nav_social ul {
    display: flex;
    list-style-type: none;
    margin-right: 11%;
  }

  .nav_social li {
    margin-left: 20px;
  }

  .nav_social img {
    height: 18px;
    margin-top: 5px;
  }

  .nav_social a {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }

  .nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 -30px;
    padding: 5px 0;
    background-color: #fff;
  }

  .nav_bar .burger {
    display: none;
  }

  .nav_bar .logo {
    width: 25vw;
    display: flex;
    justify-content: left;
  }

  .nav_bar .menu_wide {
    display: block;
  }

  .nav_bar nav {
    display: flex;
    justify-content: center;
  }

  .nav_bar ul {
    width: 50vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;
  }

  .nav_bar li {
    padding: 12px;
  }

  .nav_bar a {
    font-weight: 800;
    font-size: 10px;
    color: #2d0e0e;
    font-style: normal;
    line-height: normal;
    text-decoration: none;
  }

  .nav_bar .close {
    font-weight: 400;
    font-size: 30px;
    color: #2d0e0e;
    padding: 12px 12px;
  }

  .nav_bar .campaign {
    display: flex;
    justify-content: center;
    min-width: 150px;
    color: #ec5242;
    border: #ec5242 solid 4px;
    padding: 5px 12px;
  }

  .s_headline {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .s_headline .wrap {
    height: 500px;
    margin: 60px 0 0 0;
  }

  .s_headline .wrapper1 {
    margin: 40px 0 50px 15%;
  }

  .s_headline h3 {
    font-weight: 400;
    font-size: 30px;
    color: #ec5242;
  }

  .s_headline h1 {
    width: 100%;
    font-weight: 900;
    font-size: 50px;
    background-image: linear-gradient(to bottom, #ec5242, rgba(240, 10, 10, 0.2)), url(../images/fire3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    line-height: 50px;
  }

  .s_headline .description {
    margin-top: 50px;
    max-width: 60%;
  }

  .s_headline p {
    font-weight: 500;
    font-size: 15px;
    color: #2d0e0e;
  }

  .s_headline .time_loc {
    margin-top: 50px;
  }

  .s_headline .time_loc p {
    font-size: 17px;
  }

  .s_main_programs .programs {
    display: flex;
    justify-content: center;
  }

  .s_main_programs .card {
    width: 220px;
    text-align: center;
    margin: 10px 2px;
    padding: 12px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.1);
  }

  .s_main_programs .btn_join {
    display: none;
  }

  .s_main_programs .btn_see_whole {
    margin: 40px 0 50px;
    display: flex;
    justify-content: center;
    color: #fff;
  }

  .s_main_programs .btn_see_whole a {
    color: #fff;
  }

  .s_featured_speakers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .s_featured_speakers .feature_card {
    max-width: 47%;
    display: inline-flex;
    justify-content: center;
    margin: 10px 12px 24px 12px;
  }

  .s_featured_speakers .wrapper {
    width: 80%;
    padding: 24px;
  }

  .s_featured_speakers .btn_more,
  .s_featured_speakers .btn_less {
    display: none;
  }

  .s_partners {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #272a31;
    padding-bottom: 30px;
  }

  .s_partners h2 {
    font-weight: 400;
    font-size: 30px;
    color: #d3d3d3;
    font-style: normal;
    line-height: 28px;
    letter-spacing: -0.3px;
    padding: 30px 0 10px 0;
    text-align: center;
  }

  .s_partners img {
    width: 150px;
    margin-right: 24px;
  }

  .s_partners hr {
    width: 35px;
    color: #ec5242;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .footer .wrapper {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer img {
    height: 30px;
    margin-right: 7%;
  }

  .footer .decription {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
